@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}
@media only screen and (min-width: 1025px) {
 
.mainContainer{
  width:100%;
  height:auto;

}
 .maintopContainer{
  width:100%;
  display:flex;
  justify-content: space-between;
  
  background:linear-gradient(120deg,rgb(197, 135, 135),rgb(177, 85, 85),rgb(209, 116, 116));
}
.logo{
  width:30%;
  padding: 10px;
}
.logo img{
  width:40%;
  padding: 10px;
  cursor: pointer;
 
}
.search{
  padding: 45px;
}
.search input{
  width:260px;
  height: 30px;
  border:none;
  outline: none;
  font-size: 20px;
  border-radius: 30px;
}
.mid{
  width:100%;
  height:5vh;
  background:linear-gradient(120deg,rgb(197, 135, 135),rgb(177, 85, 85),rgb(209, 116, 116));
  display: flex;
  justify-content: center;
}
.mid ul{
  list-style: none;
  margin-top: 10px;
  display:flex;
  justify-content: center;
}
.mid li{
  margin-left: 50px;
  padding: 1px 10px;
  height:2.75vh;
  background:rgb(248, 76, 222);
  cursor: pointer;
  border-radius: 5px;
  color:white;
}
.lower{
  width:100%;
  height:90vh;
}
.lower img{
  position:relative;
  width:100%;
  height:100%;
  opacity: 0.7;
}
.lower .porduct{
  position:absolute;
  margin-top:200px;
  top:0;
  width:100%;
  height:auto;
  background:transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.p1{
  position: relative;
  margin-top: 30px;
  width:30%;
  height:30vh;
  color:white;

  display: flex;
  flex-direction: row;
  margin-right: 30px;
  border-radius: 10px;
  background:rgba(2, 0, 0, 0.5); 
}
.p1 .img{
  width:40%;
}
.p1 .img img{
  width:80%;
  height:75%;
  border-radius: 50%;
  margin:10px;
  margin-top: 25px;
  opacity: 1;
}
.p1 .dis{
  width:70%;
  margin-top: 20px;
  
}
.p1 .dis h3{
  font-size: 30px;
  margin-left: auto
}
.p1 .dis p{
  margin-top: 20px;
  font-size: 20px;
}
.p1 .dis .pp1{
  position: absolute;
  width:30%;
  border-radius: 10px;
  top:170px;
  left:315px;
  background:rgb(248, 27, 27);
  color: white;
  text-align: center;
}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .mainContainer{
    width:100%;
    height:auto;
   
  }
   .maintopContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
    background:linear-gradient(120deg,rgb(197, 135, 135),rgb(177, 85, 85),rgb(209, 116, 116));
  }
  .logo{
    width:50%;
    padding: 10px;
  }
  .logo img{
    width:50%;
  }
  .search{
    width:50%;
    padding: 40px;
  }
  .search input{
    width:160px;
    height: 20px;
    border:none;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
  }

.mid{
  width:100%;
  height:5vh;
  background:linear-gradient(120deg,rgb(197, 135, 135),rgb(177, 85, 85),rgb(209, 116, 116));
  display: flex;
  justify-content: center;
}
.mid ul{
  list-style: none;
  margin-top: 10px;
  display:flex;
  justify-content: center;
}
.mid li{
  margin-left: 30px;
  padding: 1px 10px;
  height:2.75vh;
  background:rgb(248, 76, 222);
  cursor: pointer;
  border-radius: 5px;
  color:white;
}
.lower{
  width:100%;
  height:150vh;

}
.lower img{
  position:relative;
  width:100%;
  height:100%;
  opacity: 0.7;
}
.lower .porduct{
  position:absolute;
  margin-top:200px;
  top:0;
  width:100%;
  height:auto;
  background:transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lower .porduct .p1{
  position: relative;
  width:80%;
  height:25vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  border-radius: 20px;
  color:white;
  background:rgba(2, 0, 0, 0.5); 
}.lower .porduct .p1 .img{
  position: relative;
  width:40%;
  margin-top: 20px;
  height:10vh;
}
.lower .porduct .p1 .img img{
  position: relative;
  width:60%;
  height:15vh;
  border-radius: 50%;
  margin: 20px;
  opacity: 1;
}

.lower .porduct .p1 .dis{
  width:60%;
  margin-top: 12px;
  margin-right: 0;;
}
.p1 .dis p{
  margin-top: 30px;
  height: auto;
  overflow: hidden;
}
.p1 .dis .pp1{
  position: absolute;
  width:30%;
  padding: 1px;
  height:25px;
  border-radius: 10px;
  top:125px;
  left:260px;
  background:rgb(248, 27, 27);
  color: white;
  text-align: center;
}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mainContainer{
    width:100%;
    height:auto;
  
  }
   .maintopContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
    
    background:linear-gradient(120deg,rgb(197, 135, 135),rgb(177, 85, 85),rgb(209, 116, 116));
  }
  .logo{
    width:50%;
    padding: 10px;
  }
  .logo img{
    width:50%;
    padding: 10px;
    cursor: pointer;
   
  }
  .search{
    padding: 45px;
  }
  .search input{
    width:260px;
    height: 30px;
    border:none;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
  }
  .mid{
    width:100%;
    height:5vh;
    background:linear-gradient(120deg,rgb(197, 135, 135),rgb(177, 85, 85),rgb(209, 116, 116));
    display: flex;
    justify-content: center;
  }
  .mid ul{
    list-style: none;
    margin-top: 10px;
    display:flex;
    justify-content: center;
  }
  .mid li{
    margin-left: 50px;
    padding: 1px 10px;
    height:2.75vh;
    background:rgb(248, 76, 222);
    cursor: pointer;
    border-radius: 5px;
    color:white;
  }
  .lower{
    width:100%;
    height:90vh;
  }
  .lower img{
    position:relative;
    width:100%;
    height:100%;
    opacity: 0.7;
  }
  .lower .porduct{
    position:absolute;
    margin-top:200px;
    top:0;
    width:100%;
    height:auto;
    background:transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .p1{
    margin-top: 30px;
   
    width:45%;
    color:white;
    height:25vh;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 10px;
    background:rgba(2, 0, 0, 0.5); 
  }
  .p1 .img{
    width:40%;
  }
  .p1 .img img{
    width:80%;
    height:75%;
    border-radius: 50%;
    margin:10px;
    opacity: 1;
  }
  .p1 .dis{
    width:70%;
    
  }
  .p1 .dis p{
    margin-top: 15px;
  }
  .p1 .dis .pp1{
    position: relative;
    bottom: 0;
    width:30%;
    border-radius: 10px;
    margin-top: 30px;
    left:150px;
    background:rgb(248, 27, 27);
    color: white;
    text-align: center;
  }
}
